.centerDiv{
	margin-right: auto;
	margin-left: auto;
}

.jumbotron{
	width: 600px;
	color: black;
}

.hide{
	display: none;
}

.instruction-style{
	padding-top: 3px;
	color: gray;
	font-style: italic;
	font-size: 11pt;
}