
#header {
    color: red;
    text-align: center;
}

p {
    font-family: "Times New Roman", Times, serif;
}

    p.serif {
        font-family: "Times New Roman", Times, serif;
    }

    p.sansserif {
        font-family: Arial, Helvetica, sans-serif;
    }

#contacttext {
    margin:auto;
    text-align: center;
    width: 500px;
}