/*Ariel CSS Style Sheet*/

@import url('https://fonts.googleapis.com/css?family=Karla:700');

body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/astro.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: 80px;
    padding: 30px;
    font-family: "Karla";
    color: white;
}

header img {
    height: 120px;
    margin-left: 50px;
}

header {
    background-color:transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display:flex;
    align-items:center;
    font-weight:bold;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.maintext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.maintext button:hover {
    background-color: #555;
    color: white;
}

.maintext button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
  }

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
}

.formpractice {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.arrayimgs {
    position: relative;
    height: 150px;
    width: 150px;
}
/* css styling for hiding form elements */
#hide1 {
    visibility: hidden;
    position: absolute;
}
#hide2 {
    visibility: hidden;
    position: absolute;
}
#hide3 {
    visibility: hidden;
    position: absolute;
}
#hide4 {
    visibility: hidden;
    position: absolute;
}
#hide5 {
    visibility: hidden;
    position: absolute;
}

/*#container {
    background-color:#f1f1f1;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:100px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 8px;
}*/

/*#bodycontainer img {
    width:33%;
    max-height: 250px;
    border-radius: 8px;
    margin-top: 50px;
}*/ 


